# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production
/build

# Static files
/static

# Test coverage
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.vscode/
.idea/
